{% extends 'layouts/navbar.html' %}
<!---->
{% load static %}
<!---->
{% block title %} Description {% endblock %}
<!---->
{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/css/description.css' %}" />
{% endblock %}
<!---->
{% block content %}
<body>
  <main>
    <div class="up_box">
      <h2>This is a space free</h2>
    </div>

    <div class="sub_box">
      <!-- Card Desscription -->
      <section class="card_details">
        <h2 class="titulo_description">{{ novela.title }}</h2>

        <div class="caja_img_title">
          {% if novela.imagen_portada %}
          <img
            class="image_description"
            src="{{ novela.imagen_portada.url }}"
            alt="Imagen de la novela"
            ,
            width="150"
            ,
            height="200"
          />
          {% endif %}
          <div class="novel_genre">
            {% for genero in novela.genero.all %}
            <ul>
              <li class="geners">{{ genero.gener }}</li>
            </ul>
            {% endfor %}
          </div>
        </div>
        <!-- caja boton  -->
        <div class="mini_box2">
          <!-- Boton de Inicio de juego -->
          <!--Revisar-->
          <div class="mini_box2">
            {% if novela.novel %}
            <a
              class="button_play_game"
              href="{% url 'game:game' novela.novel.id %}"
            >
              Jugar
            </a>
            {% else %}
            <button disabled style="background-color: gray">
              Juego no disponible
            </button>
            {% endif %}

            <!-- Aqui  empieza el boton de like -->
            <form action="{% url 'novels:like' novela.id %}" method="POST">
              {% csrf_token %}
              <!---->
              {% if user.is_authenticated %}
              <button type="submit" class="buttom_likes">
                {% if user in novela.likes.all %}
                <!---->
                Like {{ novela.get_total_likes }}
                <!---->
                {% else %}
                <!---->
                Like {{ novela.get_total_likes }}
                <!---->
                {% endif %}
              </button>
              {% else %}
              <a href="{% url 'login:signin' %}">Inicia sesión para dar like</a>
              {% endif %}
            </form>
          </div>

          <!-- Boton de likes -->
        </div>
      </section>

      <!-- Card Text field  -->
      <section class="card_description">
        <!-- Parte de arriba-->
        <div class="container_description">
          <section class="mini_box">
            {% for x in novela.author.all %}
            <p class="text_normal">Autor: {{ x.firts_names }}</p>
            {% endfor %}
          </section>
          <!-- Seccion de los botones " editar y Leer prologo "  -->
          <section class="mini_box2">
            <a href="{% url 'novels:prologue' novela.id %}">
              <button class="buttom_description_purple">Leer prologo</button>
            </a>
            <a href="{% url 'novels:update' novela.id %}">
              <button class="buttom_description_gray">Editar</button>
            </a>
          </section>
        </div>
        <!-- Parte de abajo-->
        <div class="text_description">
          <div class="text">
            <p class="none">{{ novela.text_description }}</p>
          </div>
        </div>
      </section>
    </div>
  </main>
  {% endblock %}
</body>
