{% extends 'layouts/navbar.html' %}
<!---->
{% load static %}
<!---->
{% block title %} Description {% endblock %}
<!---->
{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/css/description.css' %}" />
{% endblock %}
<!---->
{% block content %}
<body>
  <main>
    <div class="up_box">
      <h2>This is a space free</h2>
    </div>

    <div class="sub_box">
      <!-- eliminamos el for -->
      <!-- Card Desscription -->
      <section class="card_details">
        <h2 class="titulo_description">{{ novel.title }}</h2>

        <div class="caja_img_title">
          {% if novela.imagen_portada %}
          <img
            class="image_description"
            src="{{ novela.imagen_portada.url }}"
            alt="Imagen de la novela"
            ,
            width="150"
            ,
            height="200"
          />
          {% endif %}
          <div class="novel_genre">
            {% for genero in novela.genero.all %}
            <ul>
              <li class="geners">{{ genero.gener }}</li>
            </ul>
            {% endfor %}
          </div>
        </div>
      </section>

      <!-- Card Text field  -->
      <section class="card_description">
        <!-- Parte de arriba-->
        <div class="container_description">
          <section class="mini_box">
            <p class="estilo_letra_gris">{{ novela.prologo }}</p>
            {% for x in novela.author.all %}
            <p class="text_normal">Autor: {{ x.firts_names }}</p>
            {% endfor %}
          </section>
          <section class="mini_box2">
            <button class="buttom_description_purple">Guardar</button>
            <button class="buttom_description_gray">
              <a href="{% url 'novels:update' novela.id %}">Editar</a>
            </button>
          </section>
        </div>
        <!-- Parte de abajo-->
        <div class="text_description">
          <div class="text">
            <p>{{ novela.text_description }}</p>
          </div>
        </div>
      </section>
      <!-- eliminamos el for -->
    </div>
  </main>
  {% endblock %}
</body>
