{% extends 'layouts/navbar.html' %}

{% load static %}

{% block title %} Description {% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/css/description.css' %}">
{% endblock %}

{% block content %}
<body>  
    <main >
        <div class="up_box">
            <h2>This is a space free
            </h2>
        </div>




        <div class="sub_box">
            
            <!-- Card Desscription -->
            <section class="card_details">
                <h2 class="titulo_description">{{ title.title }} </h2>
                <div class="caja_img_title">
                    <img class="image_description" src="{% static 'logo_navbar3.jpg' %}" alt="Imagen de la novela" , width="150", height="200">
                    <div class="novel_genre">
                        <p class="geners">Drama </p>
                    </div>
                </div>



            </section>


            
            <!-- Card Text field  -->
            <section class="card_description">
                <!-- Parte de arriba-->
                <div class="container_description">
                    <section class="mini_box">
                        <p class="estilo_letra_gris">Prologo</p>
                        <p class="text_normal ">La tinta que sangra</p>
                    </section>
                    <section class="mini_box2">
                        <button class="buttom_description_purple">Guardar</button>
                        <button class="buttom_description_gray">Descargar</button>
                    </section>
                </div>
                <!-- Parte de abajo-->
                <div class="text_description">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil facere earum enim quo, dolorum alias commodi corrupti voluptate, perspiciatis id aliquid. Quam fuga ut in qui harum voluptate provident placeat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, excepturi. Inventore omnis veniam sed non obcaecati, dolor accusantium nobis blanditiis! Quis esse recusandae temporibus a. Soluta deserunt recusandae ea adipisci. <br> <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam doloribus illum fuga fugiat, voluptas vero? Explicabo itaque nihil eum aut id recusandae ex deserunt et sapiente! Delectus alias aperiam et! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis recusandae placeat ex consequatur maiores quod a porro officiis rerum magnam rem, possimus, excepturi fugiat illum labore aut ab? Molestias, ab?</p>
                    </div>
                </div>

            </section>
        </div>
    </main>
    {% endblock %}
</body>
