{% extends 'layouts/navbar.html' %}

{% load static %}

{% block title %} Make Novels {% endblock %}

{% block css_extra %}
<link rel="stylesheet" href=" {% static 'styles/css/inputs_labels.css' %}"">
{% endblock %}

{% block content %}


<body>
    <h1>Descripción Novela</h1>

<form class="form-container" method="POST">
    {% csrf_token %}
    <label >Titulo</label>
    <div class="titulo-description">
        {{ form_Novel.title }}
    </div>

    <label>Generos</label>
    <div class="genero-description">
        {{ form_Novel.genero}}
    </div>

    <label>Descripción</label>
    <div class="text_description">
        {{ form_Novel.text_description}}
    </div>

    <label>Prologo</label>
    <div class="titulo-description">
        {{ form_Novel.prologo}}
    </div>

    <label>Autores</label>
    <div class="genero-description">
        {{ form_Novel.author}}
    </div>

    <label>Portada</label>
    <div class="portada-description">
        {{ form_Novel.imagen_portada }}
    </div>

    <button class="buttom_save" type="submit">
        Guardar
    </button>

</form>


</body>


{% endblock %}