main{
    background-color: #060609;
    color: whitesmoke;
    font-family: Arial, sans-serif; /* Usar una fuente similar a la imagen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
label {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
form{
    align-items: center;
}

.contenedor-father{
    background-color: #0000002a;
    padding: 35px;
    padding-bottom: 30px;
    border-radius: 10px;
    width: 100%;
    width: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    height: auto;
    border: 2px solid #7335DD ;
    box-shadow: inset 8px 30px 60px #7335dd5d, 
                inset -8px -8px 16px #7335dd5d;
}
.input{
    height: 30px;
    border: 2px solid #7335DD ;
    border-radius: 10px;
    background-color: #060609;
    color: white;
    width: 100%;
    color: whitesmoke;
    font-size: 20px;
}
.buttom_sesion{
    margin-top: 20px;
    border: 2px solid #7335DD ;
    width: 100%;
    font-size: 17px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #7335DD;
    padding: 6px;
    border-radius: 10px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    display: inline-block;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.26),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1),     
        0 2px 4px rgba(0, 0, 0, 0.2);          
    transition: background-color 0.3s ease;
    align-items: center;
}
.helptext{
    background-color: #7335DD;
    font-size: 25px;
}
/* #id_password2{
    height: 30px;
    border: 2px solid #7335DD ;
    border-radius: 10px;
    background-color: #060609;
    color: white;
    width: 100%;
    color: whitesmoke;
    font-size: 20px;
}
#id_password1{
    height: 30px;
    border: 2px solid #7335DD ;
    border-radius: 10px;
    background-color: #060609;
    color: white;
    width: 100%;
    color: whitesmoke;
    font-size: 20px;
} */