{% extends 'layouts/navbar.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
    
        <link rel="stylesheet" href="{% static '/styles/css/menu.css' %}">
    </head>
    <body>
        
    <main class="main_box">
        <h2 class = "subtitulo">
            Visuals Novels
        </h2>

        <div class="card">

            <H2 class="card_title" >天の血統 (Ten no Ketto)</H2>
            <img class="imagen_card" src="{% static 'imagen_card.jpg' %}" alt="天の血統 (Ten no Ketto)">

            <P>
                this is the index page
            </P>
            <h3>
                {{message}}
            </h3>
            
            <a href="{% url 'novels:description' %}">
                <button class="buttom_card" >
                    Leer
                </button>
            </a>

        </div>

    </main>

    {% endblock %}
</body>
</html>