{% extends 'layouts/navbar.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} Home {% endblock %}
<!--  -->
{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/css/menu.css' %}" />
{% endblock %}
<!--  -->
{% block content %}
<!--  -->

<main class="main_box">
  <h2 class="subtitulo">Visuals Novels</h2>
  <!-- Aqui estamos creando cada card   -->
  <div class="contenedor_tarjetas">
    {% for novel in list_novels %}
    <div class="card">
      <h2 class="card_title">{{ novel.title }}</h2>
      {% if novel.imagen_portada %}
      <img
        class="imagen_card"
        src="{{ novel.imagen_portada.url }}"
        alt="Imagen portada de Dragon ball Z"
      />
      {% endif %}
      <!--  -->
      <p>{{ novel.creation_date }}</p>
      <!--  -->
      <a href="{% url 'novels:description' novel.id %}">
        <button class="buttom_card">Leer</button>
      </a>
    </div>
    {% endfor %}
  </div>
</main>

{% endblock %}
