{% extends 'layouts/navbar.html' %}
<!-- -->
{% load static %}
<!---->
{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/actualizar_profile.css' %}" />
{% endblock %}
<!---->
{% block content %}
<head>
  <h1>Actualizar perfil</h1>
</head>
<main>
  <div class="box-main-update-left">
    <div class="box-image-profile">
      <img
        class="image_profile"
        src="{{ user.profile.image_profile.url }}"
        alt="imagen de perfil de usuario"
        ,
        height="250px"
        ,
        width="250px"
      />
    </div>
    <br />
  </div>

  <div class="box-main-upload_profile-right">
    <!-- Inicio del formulario, parte derecha de la pantalla  -->
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <!---->
      {{ user_fields.non_field_errors }}
      <!-- NOTA: errores de ususario: pendiente por investigar como se llama los errores teniendo en cuenta que estamos llamando dos formularios en la vista -->
      <!-- primera seccion -->
      <div class="firts-line-up">
        <!-- cambko de nombre de usuario  -->
        <section class="input-username">
          <label>Nombre de usuario</label> <br />
          {{ user_fields.username }}
        </section>
        <section class="input-email">
          <label>Correo electroníco</label> <br />
          {{ user_fields.email }}
        </section>
      </div>
      <!-- Segunda secicon -->
      <div class="second-line-up">
        <section>
          <label>Red social</label> <br />
          {{ form.social_network }}
        </section>
        <!--  ESTA ES UNA SECCION LIBRE PARA FUTUROS INPUTS, POR AHORA ES DE RELLENO  -->
        <section>
          <label>Pronombre</label> <br />
          {{ form.social_network }}
        </section>
      </div>
      <!-- cambio de red social de usuario -->
      <!-- Input de about me  -->
      <section>
        <label>Acerca de mi</label> <br />
        {{ form.about_me }}
      </section>
      <!-- generos favoritos  -->
      <label>Generos favoritos</label> <br />
      <div class="second-line-up">
        <section class="box-geners-favorites">
          <ul class="lista-generos">
            {% for checkbox in form.favorite_genes %}
            <li>
              {{ checkbox.tag }}
              <!-- El cuadrito -->
              <label for="{{ checkbox.id_for_label }}"
                >{{ checkbox.choice_label }}</label
              >
            </li>
            {% endfor %}
          </ul>
        </section>
      </div>
      <!-- seccion de cambio de imagen  -->
      <label class="label-image-profile">Foto de perfil</label>
      <div class="edit_image_profile">
        <!-- Boton de edicion de la foto de perfil de usuario -->
        {{ form.image_profile }}
      </div>
      <!-- boton de save -->
      <button type="submit" class="buttom_save">Guardar</button>
    </form>
  </div>
</main>
{% endblock %}
