{% extends 'layouts/navbar.html' %}
<!---->
{% load static %}
<!-- -->
{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/account.css' %}" />
{% endblock %}
<!---->
{% block content %}
<main>
  <!-- Caja de título y botones -->
  <div class="titulo-and-botones-edit">
    <h1 class="title-profile">Perfil de usuario</h1>
    <a class="button_edit" href="{% url 'account:update' user.pk %}">
      <button class="buttom_edit">Editar</button>
    </a>
  </div>

  <!-- Contenedor padre -->
  <div class="box-container-main">
    <!-- Caja de perfil de usuario -->
    <div class="container-profile">
      <!-- NOTA: COLOCAR EL WITD AUTO EN EL CSS, POR AHORA NO FUNCIONA COMO QUIERO, QUEDA PENDIENTE  -->
      <div class="flex">
        {% if user.profile.image_profile %}
        <div>
          <img
            src="{{ user.profile.image_profile.url }}"
            alt="foto de perfil"
            height="190"
            width="200"
            class="photo_profile"
          />
        </div>
        {% else %}
        <div>
          <img
            class="photo_profile"
            src="/media/profiles_images/default.png"
            alt="foto default"
            width="200"
            height="190"
          />
        </div>
        {% endif %}

        <div class="name-and-rewards">
          <div class="bloque">
            <div class="user-name">{{ user.username }}</div>
            <!-- PRONOMBRE -->
            {% if user_profile.pronoun %}
            <div class="pronoun">{{ user_profile.pronoun }}</div>
            {% else %}
            <div class="pronoun">Pronoun</div>
            {% endif %} {% if user_profile.social_network %}
            <div class="social">{{ user_profile.social_network }}</div>
            {% else %}
            <p>@usxrname</p>
            {% endif %}
          </div>

          <div class="de-lado">
            <p>Dias Racha: 25</p>
            <p>* Veterano</p>
          </div>
        </div>
      </div>

      <!-- Biografía -->
      <div class="container-biografia-usuario">
        <p class="biogafia-text">biografia</p>
        <div class="biogafia">
          {{ user_profile.about_me|default:"Sin biografia" }}
        </div>
      </div>
      <!-- Categorias favoritas -->
      <section class="favorite_categories">
        <p class="biogafia-text">Categorias favoritas</p>
        {% for categoria in user_profile.favorite_genes.all %}
        <ul>
          <li class="categorias">* {{ categoria }}</li>
        </ul>
        {% empty %}
        <ul>
          <li class="categorias">* El usuario no tiene generos favoritos</li>
        </ul>
        {% endfor %}
      </section>
    </div>

    <!-- Caja novelas -->
    <div class="container-novels">
      <section class="encabezados">
        <p class="text-style-gris">Biblioteca</p>
        <div class="together">
          <div class="text-style-white">
            * Novelas hechas por:
            <span class="text-style-stand-out">{{ user.username }}</span>
          </div>
        </div>
      </section>

      <div class="novels-user">
        {% for novela in description %}
        <div class="card-novel">
          <img
            class="portada"
            src="{{ novela.imagen_portada.url }}"
            alt="portada"
          />
          <p class="title-novel">{{ novela.title }}</p>
          <div class="al-lado">
            <div class="flex">
              {% if novela.likes.all %}
              <img
                class="boton-like"
                src="/media/profiles_images/simple-like-icon-the-icon-can-be-used-for-websites-print-templates-presentation-templates-illustrations-etc-free-vector-removebg-preview (2).png"
                alt="like"
                height="35"
                width="35"
              />
              <p class="like">{{ novela.get_total_likes }}</p>
              {% endif %}
            </div>

            <a
              class="buttom_read"
              href="{% url 'account:description_novel' novela.id %}"
              >Leer</a
            >
          </div>
          <p class="date">{{ novela.creation_date }}</p>
        </div>
        {% empty %}
        <div class="user-no-novels">
          <p class="text-style-white">El usuario no ha creado aún una novela</p>
        </div>
        {% endfor %}
      </div>
      <!-- Fin de novels-user -->
    </div>
  </div>
</main>
{% endblock %}
