{% extends 'layouts/navbar.html' %}
<!---->
{% load static %}
<!---->
{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/account.css' %}" />
{% endblock %}
<!---->
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>perfil</title>
  </head>
  <body>
    <!-- caja de titulo y botones de editar busqueda de novelas  -->
    <div>
      <h1 class="title-profile">Perfil de usuario</h1>
    </div>
    <!-- caja-padre = contiene los contendores de perfil y novelas  -->
    <div class="box-container-main">
      <!-- Caja de perfil de usuario -->
      <div class="container-profile">
        <!-- contenedor de foto perfil y nombre de usuario -->
        <div class="photo-perfil">
          <img
            src="{{ user.profile.image_profile.url }}"
            alt="foto de perfil de usuario"
          />
        </div>
        <!-- nombre de usuario de y renociminetos  -->
        <div class="name-and-rewards">
          <!-- etilo uno de bajo de otro -->
          <div class="bloque">
            <p class="user-name">{{ user.username }}</p>
            <p>@doña_lulu</p>
          </div>
          <!-- etilo uno al lado de otro -->
          <div class="de-lado">
            <p>Dias Racha: 25</p>
            <p>* Veterano</p>
          </div>
        </div>
      </div>
    </div>

    <!-- elementos de prueba -->
    <ul>
      <li>¿El usuario tiene perfil?: {{ user.profile|yesno:"Sí,No" }}</li>
      <li>Ruta completa de la imagen: {{ user.profile.image_profile.name }}</li>
      <li>URL que genera Django: {{ user.profile.image_profile.url }}</li>
    </ul>
  </body>
</html>
{% endblock %}
