{% extends 'layouts/navbar.html' %}
<!---->
{% load static %}
<!---->
{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/account.css' %}" />
{% endblock %}
<!---->
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>perfil</title>
  </head>
  <body>
    <!-- caja de titulo y botones de editar busqueda de novelas  -->
    <div>
      <h1 class="title-profile">Perfil de usuario</h1>
    </div>
    <!-- caja-padre = contiene los contendores de perfil y novelas  -->
    <div class="box-container-main">
      <!-- Caja de perfil de usuario -->
      <div class="container-profile">
        <!-- contenedor de foto perfil y nombre de usuario y demas descirpciones de usuario -->
        <div >
        <img
        src="{{ user.profile.image_profile.url }}"
            alt="foto de perfil de usuario"
            ,
            height="190"
            ,
            width="200"
            ,
            class="photo_profile"
          />
        </div>
        <!-- nombre de usuario de y renociminetos  -->
        <div class="name-and-rewards">
          <!-- etilo uno de bajo de otro -->
          <div class="bloque">
            <p class="user-name">{{ user.username }}</p>
            <p>@doña_lulu</p>
          </div>
          <!-- etilo uno al lado de otro -->
          <div class="de-lado">
            <p>Dias Racha: 25</p>
            <p>* Veterano</p>
          </div>
        </div>
      </div>
      <!-- box novelas de usuario -->
      <div class="container-novels">
        <!-- Esta es la parte de arriba = donde se encuetra biblioteca y novelas hechas por: Nombre de ususario -->
        <section class="encabezados">
          <p class="text-style-gris">Biblioteca</p>
          <div class="together">
            <p class="text-style-white">
              * Novelas hechas por: <p class="text-style-stand-out">{{ user.username }}</p> 
            </p>
          </div>
        </section>
        <!-- NOVELAS CREADAS POR EL USUARIO -->
        <div class="novels-user">
          <!-- Aqui estamos llamando todos los elementos de descripcion de una novela -->
          {% for novela in description %}
           <div class="card-novel">
             <img class="portada" src="{{ novela.imagen_portada.url }}" alt="imagen portada de novela">
             <p class="title-novel">
              {{ novela.title }}
            </p>
            <div class="al-lado">
              <div >
                <!-- boton de me gusta -->
                {% if novela.likes.all %}
                <img class="boton-like" src="/media/profiles_images/boton-me-gusta.png" alt="boton de me gusta", height=20", width="20">
                  {{ novela.get_total_likes }}
                {% endif %}         
              </div>
                <button>
                Leer
              </button>
            </div>
            <!-- fecha creacion de novela -->
            <p class="date">
              {{ novela.creation_date }}
            </p>
           </div>
           <!-- Aparecera esta caja si el usuario no tiene novelas -->
           {% empty %} 
           <div class="user-no-novels"> <!-- PENDIENTE -->
            <p>El usuario no ha creado aún una novela </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
{% endblock %}
