h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 20px;
}
body{
    background-color: #060609;
    height: 650px;
    width: 100%;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
img{
    width: 100%;
    height: 100%;
}
.span{
    color: white;
}
.pagination{
    width: 100%;
    height: 800px;
    background-color: #202020;
    position: relative;
    display: flex;
    gap: 20px;

}

.controls{
    position: absolute; 
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;       
    gap: 10px; 
}
.botons{
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
.characther{
    position: absolute; 
    top: 30%;
    transform: translate(80%);
    width: 300px;
    height: 550px;
   
}