body{
    background-color: #060609;
    color: whitesmoke;
}
/* container principal = encierra todo  */
.box-container-main{
    display: flex;
    gap: 30px;
}
/* estilos de la caja del container profile  */
.title-profile{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    margin-top: 0px;
}
.container-profile{
    width: 500px;
    height: 500px;
    margin-left: 40px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.523);
    border: 2px, solid #35235C;
    box-shadow: inset 8px 10px 30px #7335dd5d, 
                inset -8px -8px 16px #7335dd5d;
    display: inline-block;
    gap: 20px;
    justify-content:center ;

}
.flex{
    display: flex;
}
.user-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.photo_profile{
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 30px
}
.name-and-rewards{
    background-color: rgba(0, 0, 0, 0.523);
    height: 180px;
    width: 240px;
    display: inline-block;
    margin-top: 24px;
    border-radius: 15px;
    border: 2px solid gray;
}
.de-lado{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-left: 20px;
}
.al-lado{
    display: inline-flex;
    gap: 40px;
}
.bloque{
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}
/* estilos de la caja container novels  */

.container-novels{
    width: 980px;
    height: 680px;
    background-color: rgba(0, 0, 0, 0.523);
    border-radius: 15px;
    border: 2px solid #202020;
}
.encabezados{
    margin-left: 30px;
    display: flex;

}
.text-style-gris{
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
}
.text-style-white{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.text-style-stand-out{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 5px;
}
.together{
    display: flex;
    margin-left: 580px;

}
.novels-user{
    background-color: rgba(0, 0, 0, 0.523);
    width: 920px;
    height: auto;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 15px;
}
.user-no-novels{
    width: 300px;
    height: 300px;
    background-color: #060609
}
.card-novel{
    width: 220px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.523);
    justify-content: center;
    border-radius: 15px;
    border: 2px solid gray;
    margin-bottom: 20px;
    margin-top: 20px;
}
.title-novel{
    font-family: fantasy;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: rgb(174, 0, 255);
}
.boton-like{
    margin-left: 40px;
}
.date{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
.portada{
    margin-left: 18px;
    margin-top: 10px;
    border-radius: 15px;
}
.titulo-and-botones-edit{
    display: inline-flex;
    width: 100%;
    gap: 1180px


}
.button_edit{
    text-align: right;
}
.buttom_edit{
    margin-top: 20px;
    border: 2px solid #7335DD ;
    width: 90px;
    font-size: 17px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #7335DD;
    padding: 6px;
    border-radius: 10px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    display: inline-block;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.26),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1),     
        0 2px 4px rgba(0, 0, 0, 0.2);          
    transition: background-color 0.3s ease;
    align-items: center;
    margin-bottom: 10px;
    
}
.container-biografia.usuari{
    justify-content: center;
}