body{
    background-color: #060609;
    color: whitesmoke;
}
.title-profile{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    margin-top: 50px;
}
.container-profile{
    width: 500px;
    height: 500px;
    margin-left: 40px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.523);
    border: 2px, solid #35235C;
    box-shadow: inset 8px 10px 30px #7335dd5d, 
                inset -8px -8px 16px #7335dd5d;
    display: flex;
    gap: 20px;
}
.user-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.name-and-rewards{
    background-color: #202020;
    height: 180px;
    width: 240px;
    display: inline-block;
    margin-top: 24px;
    border-radius: 15px;
    border: 2px solid whitesmoke;
}
.de-lado{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-left: 20px;
}
.bloque{
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}