.input{
    color: yellow;
}
/* input de la red social de usuario  */
.social_network_input{

}
/* input de acerca de mi del usuario */
.about_me_input{

}
/* input imagen de perfil de usuario */
.image_profile_input{
    
}