main{
    display: flex;
    justify-content: center;
    gap: 40px;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    justify-content: center;
    text-align: center;
}
.box-main-upload_profile{
    background-color: #060609;
    width: 700px;
    height: auto;
    border: 2px solid gray;
    border-radius: 15px;
    padding-bottom: 15px;
}

.input{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.523);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 4px solid #7335DD;
    border-radius: 10px;
    width:250px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
/* input de la red social de usuario  */
.social_network_input{
    margin-bottom: 10px;
    margin-top: 5px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.523);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 4px solid #7335DD;
    border-radius: 10px;
    width:250px;
    text-align: center;
    font-weight: bold;
}
/* input de acerca de mi del usuario */
.about_me_input{
    width: 530px;
    height: 130px;
    margin-bottom: 10px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 4px solid #7335DD;
    border-radius: 10px;

    font-weight: bold; 
    background-color: rgba(0, 0, 0, 0.523);
}
/* input imagen de perfil de usuario */
.image_profile_input{
    
}
/* Input de generos favoritos del usuario */
.box-geners-favorites{
    border: 4px solid #7335DD;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    width: 530px;
    height: auto;
}

/* Esto afecta al <ul> que crea Django */
.lista-generos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Crea columnas automáticas */
    gap: 1px;
    list-style: none; /* Quita los puntitos negros */
    padding: 0;
    justify-content: center;
    text-align: center;
}

/* Esto afecta a los <li> que Django mete adentro automáticamente */
.lista-generos li {
    display: flex;
    align-items: center;
    padding: 1px;
    justify-content: center;
}
.firts-line-up{
    display: flex;
    gap: 20px ;
    justify-content: center;
    margin-top: 20px;
    
}
.second-line-up{
    display: flex;
    gap: 20px ;
    justify-content: center;
    margin-top: 10px;

}
#id_about_me::placeholder {
    color: #888888;       /* Cambia el color */
    font-style: italic;   /* Pone el texto en cursiva */
    opacity: 1;           /* Necesario para Firefox */
    font-size: 0.9em; 
    padding: 5px;    /* Ajusta el tamaño */
}
.buttom_save{
    margin-top: 20px;
    border: 2px solid #7335DD ;
    width: 200px;
    font-size: 17px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #7335DD;
    padding: 6px;
    border-radius: 10px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    display: inline-block;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.26),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1),     
        0 2px 4px rgba(0, 0, 0, 0.2);          
    transition: background-color 0.3s ease;
    align-items: center;
}