main{
    display: flex;
    justify-content: center;
    gap: 40px;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box-main-upload_profile{
    background-color: #202020;
    width: 500px;
    height: 500px;
}

.input{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 4px solid #7335DD;
    border-radius: 10px;
    width:250px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
/* input de la red social de usuario  */
.social_network_input{
    margin-bottom: 10px;
    margin-top: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 4px solid #7335DD;
    border-radius: 10px;
    width:250px;
    text-align: center;
    font-weight: bold;
}
/* input de acerca de mi del usuario */
.about_me_input{

}
/* input imagen de perfil de usuario */
.image_profile_input{
    
}
/* Input de generos favoritos del usuario */
.favorite_genes_input{

}

/* Esto afecta al <ul> que crea Django */
.lista-generos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Crea columnas automáticas */
    gap: 1px;
    list-style: none; /* Quita los puntitos negros */
    padding: 0;
}

/* Esto afecta a los <li> que Django mete adentro automáticamente */
.lista-generos li {
    display: flex;
    align-items: center;
    padding: 1px;
}
