body{
    background-color: #060609;
    color: whitesmoke;
}

nav{
    background-color: #060609;
    padding: 3px;
    display: flex;
    border: 2px, solid #35235C;
    border-radius: 15px;
    width: 85%;
    align-items: center;
    margin-left: 85px;
    margin-top: 20px;
    box-shadow: 10px 10px 50px 5px #35235C;
    text-align: end;
    /* background: linear-gradient(to right, #333, transparent); */
}

ul li{
    list-style: none;
    padding: 3px;
    
}
ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 8px;
    border-radius: 30px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    display: inline-block; 
    
}
ul li a:hover {
    background-color:  #7335DD ;
}

.buttom_login{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #7335DD;
    padding: 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    display: inline-block;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1),     
        0 2px 4px rgba(0, 0, 0, 0.2);          
    transition: background-color 0.3s ease;
}

.buttom_login:hover {
    background-color:  #8d20d6e5 ;
}


.titulo_navbar{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin-left: 20px;

}

.logo_navbar{
    margin-left: 20px;
    border-radius: 20px;
}
/* .caja_a{
    background-color: #533b88;
} */
 .auth-links-container {
    margin-left: auto;      
    display: flex;          
    gap: 15px;       
    margin-right: 30px      
}