body{
    background-color: #060609;
    
}

.main_box{
    background-color: #060609;
    width: 85%;
    margin-left: 95px;
    min-height: 700px;
    margin-top: 40px;
    padding-top: 30px;
    border-radius: 18px;
    border: 2px, solid #35235C;
    box-shadow: 10px 10px 50px 5px #35235C;
}

.card{
    text-align: center;
         /* top            left  */
    margin: 0px 20px 20px 90px;
    width: 350px;
    height: 390px;
    background-color: #242424;
    border-radius: 15px;
    border: 2px, solid #35235C;
    box-shadow: 10px 10px 50px 5px #35235C;

}

.card_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}
.imagen_card{
    width: 280px;
    height: 200px;
    border-radius: 20px;
    border: 2px, solid #ffffff;
    /* box-shadow: 0px 0px 20px 0px #ffffff; */
    
}
.buttom_card{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: #7335DD;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    display: inline-block;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1),     
        0 2px 4px rgba(0, 0, 0, 0.2);          
    transition: background-color 0.3s ease;
}
.subtitulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}