{% extends 'layouts/navbar.html' %}
<!---->
{% load static %}
<!-- Esto es Sign Up? -->
{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/css/users_inputs.css' %}" />
{% endblock %}
<!-- -->
{% block content %}

<main>
  <h1 class="titulo_signUp">Registrarse</h1>
  {{message}}

  <div class="contenedor-father">
    <form method="POST">
      {% csrf_token %} {{ form.non_field_errors }}

      <label>Username</label>
      {{ form.username.errors }} {{ form.username }}
      <label>Password</label>
      {{ form.passwprd1.errors }} {{ form.password1 }}
      <label>Confirmation</label>
      {{ form.password2.errors }} {{ form.password2 }}
      <button class="buttom_sesion">SingUp</button>
    </form>
  </div>
</main>
{% endblock %}
