{% extends 'layouts/navbar.html' %}
<!---->
{% load static %}
<!---->
{% block title %} iniciar sesión {% endblock %}
<!---->
{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/css/users_inputs.css' %}" />
{% endblock %}
<!---->
{% block content %}

<main>
  <h1>Iniciar sesión</h1>
  {{ message }}
  <div class="contenedor-father">
    <!-- inicio del formulario -->
    <form method="POST">
      {% csrf_token %}
      <!-- Este es el contenedor de username -->
      <div class="container-username">
        <label>Username</label>
        <!-- espacio -->
        {{ form.username }}
      </div>
      <!-- Este es el contenedor del Password -->
      <div class="container-password">
        <label>Password</label>
        <!-- espacio -->
        {{ form.password }}
      </div>
      <div class="container-password">
        <button class="buttom_sesion">Guardar</button>
      </div>
    </form>
  </div>
</main>

{% endblock %}
