main{
    height: 650px;
    width: 94%;
    background-color: #060609;
    margin: 30px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
}
.sub_box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
/* Espacio para una nueva "section" para hace arriba de los dos subs box */
.up_box{
    border: solid 2px #35235C;
    background-color: #060609;
    width: 1420px;
    height: 90px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card_details{
    border: solid 2px #35235C;
    background-color: #060609;
    width: 400px;
    height: 500px;
    border-radius: 20px;

}
.card_description{
    border: solid 2px #35235C;
    background-color: #060609;
    width: 1000px;
    min-height: 500px;
    height: auto;
    border-radius: 20px;
}
.estilo_letra_gris{
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}
.mini_box{
    justify-content: flex-start;
    margin-left: 32px;
    width: 200px;
 
}
.mini_box2{
    display: flex;          
    justify-content: flex-end; 
    gap: 10px;              
    margin-left: auto;     
    width: 300px;           
    margin-top: auto;
    margin-right: 42px;
}

.container_description{
    display: flex;
}
.text_description{
    border: solid 2px #424242;
    background-color: #0f0f13;
    width: 92%;
    margin: 35px;
    min-height: 340px;
    border-radius: 15px;
}
.text_normal{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin: 0%;
    
}
.text{
    margin: 30px;
    text-size-adjust: initial;
    font-size: 18px;
    text-align: justify;

}
/*  Codigo Reutilizado */
.buttom_description_purple{
    width: 105px;
    font-size: 17px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #7335DD;
    padding: 6px;
    border-radius: 10px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    display: inline-block;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1),     
        0 2px 4px rgba(0, 0, 0, 0.2);          
    transition: background-color 0.3s ease;
}
.buttom_description_gray{
    width: 105px;
    font-size: 17px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #575757;
    padding: 6px;
    border-radius: 10px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    display: inline-block;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1),     
        0 2px 4px rgba(0, 0, 0, 0.2);          
    transition: background-color 0.3s ease;
}
/*  Esto es de la card description.  */
.titulo_description{
    color: whitesmoke;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.caja_img_title{
    background-color: #060609;
    display: flex;
}
.image_description{
    border: 2px solid white;
    border-radius: 15px;
    margin: 15px;

}
.novel_genre{
    background-color: #060609;
    width: 180px;
    height: 200px;
    margin: 15px;
    border: 2px solid #7335DD;
    border-radius: 15px;
}
.geners{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: inline-block;
}
a{
    color: whitesmoke;
    list-style: None;
    text-decoration-line: none;
}