body {
    background-color: #060609;
    color: whitesmoke;
    font-family: Arial, sans-serif; /* Usar una fuente similar a la imagen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}

.form-container {
    background-color: #202020;
    padding: 40px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 100%; 
    height: auto;
}

.genero-description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: auto;
    width: 300px;
    background-color: #060609;
    display: flex;
    justify-content: center; 
    margin: 15px; 
    border-radius: 10px;
    border: 2px solid #7335DD; 
}
.titulo-description{
    background-color: #060609;
    margin-bottom: 15px;
    margin-top: 15px;
}
.titulo-novel{
    height: 30px;
    border: 2px solid #7335DD ;
    border-radius: 10px;
    background-color: #060609;
    color: white;
    width: 100%;
    color: whitesmoke;
    font-size: 20px;
}

.text_description{
    padding: 15px;
    border-radius: 10px;
}
.text-description{
    background-color: #060609;
    font-size: 23px;
    color: white;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    border: 2px solid #7335DD ;
}
.portada-description{
    color: whitesmoke;
    background-color: #060609;
    margin: 15px;
}

.image-description{
    border: 2px solid #7335DD;
    color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
}
.buttom_save{
    width: 105px;
    font-size: 17px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #7335DD;
    padding: 6px;
    border-radius: 10px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    display: inline-block;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1),     
        0 2px 4px rgba(0, 0, 0, 0.2);          
    transition: background-color 0.3s ease;
}
.buttom_delete{
    width: 105px;
    font-size: 17px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: red;
    padding: 6px;
    border-radius: 10px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    display: inline-block;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1),     
        0 2px 4px rgba(0, 0, 0, 0.2);          
    transition: background-color 0.3s ease;
}
