.formulario-padre{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 100%; 
    height: auto;
}

.genero-description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: auto;
    width: 300px;
    background-color: #060609;
    display: flex;
    justify-content: center; 
    margin: 15px; 
    border-radius: 10px;
    border: 2px solid #7335DD; 
}
.titulo-description{
    background-color: #060609;
    padding: 15px;
}
.titulo-novel{
    width: 200px;
    height: 24px;
    border: 2px solid #7335DD ;
    border-radius: 10px;
    background-color: #060609;
    color: white;
}

.text_description{
    padding: 15px;
    border-radius: 10px;
}
.text-description{
    background-color: #060609;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    border: 2px solid #7335DD ;
}