.body_prologue{
    background-image: url('/media/portadas/imganen_de_fondo_blook_ink.jpeg'); 
    background-repeat: no-repeat; 
  
    background-position: center; 
    /* background-attachment: fixed;  */
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 760px;
    margin: 0;
    width:100%;
}
/* Prologo Page: */
.box_prologue{
    align-items: center;
    height: 500px;
    width: 850px;
    background-color: rgba(0, 0, 0, 0.523); 
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #7335DD;
}
p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}